<?xml version="1.0" encoding="utf-8" ?>
<autofac>
  <components>
    <!--<component instance-scope="singleinstance"
      type="SNBC.FTDF.Flow.View.DictionaryDesignerForm, Flow"
      service="SNBC.FTDF.Flow.Interfaces.Views.IDictionaryDesignerForm, SNBC.FTDF.Flow.Interfaces">
    </component>-->
    
    <!--ISingleDocForm单文档窗体接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.View.SingleDocView.SingleDocForm, BaseFrame">
      <services>
        <service type="BaseFrame.SingleDocView.ISingleDocForm, BaseFrame"/>
        <!--<service type="BaseFrame.Interface.ViewInterface.IMainView, BaseFrame"/>-->
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--ISingleDocFormPresenter主窗体关联的Presenter接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Presenter.SingleDocFormPresenter, BaseFrame">
      <services>
        <service type="BaseFrame.Presenter.ISingleDocFormPresenter, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--MultiDocForm多文档窗体接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.MultiDocView.MultiDocForm, BaseFrame">
      <services>
        <service type="BaseFrame.MultiDocView.IMultiDocForm, BaseFrame"/>
        <service type="BaseFrame.Interface.ViewInterface.IMainView, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--MultiDocFormPresenter主窗体关联的Presenter接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Presenter.MultiDocFormPresenter, BaseFrame">
      <services>
        <service type="BaseFrame.Presenter.IMultiDocFormPresenter, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--IMessageService消息接口配置、IDialogMessageService 消息对话框接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Service.WinFormsMessageService, BaseFrame">
      <services>
        <service type="BaseFrame.Utility.IMessageService, BaseFrame.Utility"/>
        <service type="BaseFrame.Interface.IDialogMessageService, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--MsgBoxExampleView 界面关联的 IMsgBoxExampleView 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Examples.MsgViewExamples.MsgBoxExampleView, BaseFrame">
      <services>
        <service type="BaseFrame.FrameInterface.ViewInterface.IMsgBoxExampleView, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--MsgBoxExamplePresenter View 界面关联的 IMsgBoxExamplePresenter 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Presenter.MsgBoxExamplePresenter, BaseFrame">
      <services>
        <service type="BaseFrame.FrameInterface.PresenterInterface.IMsgBoxExamplePresenter, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--ThreadMsgBoxExampleView 界面关联的 IThreadMsgBoxExampleView 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Examples.MsgViewExamples.ThreadMsgBoxExampleView, BaseFrame">
      <services>
        <service type="BaseFrame.FrameInterface.ViewInterface.IThreadMsgBoxExampleView, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--ThreadMsgBoxExamplePresenter View 界面关联的 IThreadMsgBoxExamplePresenter 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Presenter.ThreadMsgBoxExamplePresenter, BaseFrame">
      <services>
        <service type="BaseFrame.FrameInterface.PresenterInterface.IThreadMsgBoxExamplePresenter, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>

    <!--FileService 关联的 IFileService 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Service.FileService, BaseFrame">
      <services>
        <service type="BaseFrame.Utility.Files.IFileService, BaseFrame.Utility"/>
      </services>
    </component>
  
    <!--FileReaderPresenter View 界面关联的 IFileReaderPresenter 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.Presenter.FileReaderPresenter, BaseFrame">
      <services>
        <service type="BaseFrame.FrameInterface.PresenterInterface.IFileReaderPresenter, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>
  
    <!--FileReaderView 界面关联的 IFileReaderView 接口配置-->
    <component instance-scope="singleinstance"
      type="BaseFrame.View.MultiDocView.FileReaderView, BaseFrame">
      <services>
        <service type="BaseFrame.FrameInterface.ViewInterface.IFileReaderView, BaseFrame"/>
        <service type="BaseFrame.Interface.IDependencyService, BaseFrame"/>
      </services>
    </component>
  </components>
</autofac>